@media only screen and (max-width:750px) {
    #person-info {
        margin: 20px auto;
    }
    #group {
        margin-top: 10px;
    }
}

@media only screen and (max-width:800px) {
    #person-info {
        margin: 20px auto;
    }
}