.header {
    height: 50px;
    background: lightblue;
    margin-top: -10px;
}

#home-icon {
    font-size: 20px;
    float: left;
    margin: 10px 10px;
}

#logo {
    float: left;
    margin-top: 10px;
}

#home {
    float: left;
    width: 150px;
    height: 50px;
    background: rgb(133, 133, 189);
}

#home:hover {
    background: rgb(212, 205, 205);
}

#header-ul {
    list-style: none;
}

#header-ul li {
    display: inline-flex;
    font-size: 20px;
    padding: 15px 20px;
    float: left;
}

#header-ul li:hover {
    background: rgb(212, 205, 205);
}

#badge {
    font-size: 12px;
}

#tools {
    min-height: 400px;
    box-shadow: rgb(207, 200, 200) 3px 3px 3px 3px;
    margin: 0 10px;
}

#content {
    min-height: 200px;
    box-shadow: rgb(207, 200, 200) 3px 3px 3px 3px;
    margin: 0 10px;
}

#assist {
    min-height: 350px;
    box-shadow: rgb(207, 200, 200) 3px 3px 3px 3px;
    margin: 0 10px;
}

#prof-img {
    border-radius: 100%;
}

#prof-ul {
    list-style: none;
    margin: 70px 0;
    float: left;
}

#prof-ul li {
    padding: 5px 10px;
}

#input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: 1px solid rgb(145, 135, 135);
}

#post {
    float: left;
    padding: 10px 20px;
    margin: 20px 0px;
}

#forest {
    width: 95%;
}

#info {
    background: rgb(180, 175, 175);
}

#res-menu {
    width: 100%;
    height: 50px;
    background: lightblue;
    float: left;
}

#res-ul {
    margin: 0 10px;
}

#res-ul li {
    padding: 15px 30px;
}

#res-ul li:hover {
    background: yellow;
}

#bars {
    font-size: 30px;
    padding: 10px;
}

#person-info {
    min-height: 300px;
    margin-top: -120px;
}

#admin2 {
    border-radius: 100%;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    float: left;
    padding: 10px;
}

#empty {
    height: 200px;
    width: 100%;
    clear: both;
}

#group {
    list-style: none;
    margin-top: -120px;
}

#group li {
    padding: 15px;
}

#group li:hover {
    background: rgb(84, 147, 168);
    cursor: pointer;
}